body {
  background-color: #F9FAFC;
  box-sizing: border-box;
  width: 100%;
  color: black;

}


  .App{
    text-align: center;
  }

  .signin-button,
  .email-signup-button,
  .google-signup-button {
    margin-top: 10px;
    height: 38px;
    width: 85%;
    border-radius: 15px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: #1e90ff;
    margin-bottom: 10px;
    /* box-shadow: 8px 8px 8px 8px solid #ccc; */
  }
  
  .google-signup-button {
    background-color: #db4437;
  } 
  
  .signin-button{
    background-color: white;
    color: rgba(232,61,149,255);
    border: 1px solid #ccc;
  }
  
  
  
  .navigation {
    width: 1500px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5em;
    margin-left: 25em;
    padding: 4em;
    border-radius: 50%;
    animation: slide-in 1s ease-in-out;
  }

  .custom-toast-container{
    background-color: black;
    color: white;
    margin-left: 25em;
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .step-number {
    background-color: #e38b00;
    color: white;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    gap: 40px;
    box-shadow: 2px 2px #ccc;
  }
  
  .step-number.active {
    background-color: white;
    color: grey;
  }
  
  .step-number:hover {
    background-color: lightgrey;
    cursor: pointer;
  }
  
  .firstname,
  .lastname,
  .username,
  .userage,
  .useremail,
  .password,
  .c-password{
    display: flex;
    flex-direction: column;
    margin-left: 45%;
    margin-right: 35%;
  
    
  }
  
  .c-password{
    margin-left: 45%;
    margin-right: 35%;
  }
  
  .firstname .FirstName,
  .lastname .LastName,
  .username .UserName,
  .userage .UserAge,
  .useremail .UserEmail,
  .password .Password,
  .c-password .c-password{
    margin: 5%;
    height: 30px;
    padding: 12px 20px;
    text-align: center;
    border:none;
    outline: none;
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 4px
  }

  .firstname div,
  .lastname div,
  .username div,
  .userage div,
  .useremail div,
  .password div{
    margin-left: 32%;
    margin-right: 35%;
  
    
  }
  
  .c-password button{
    margin-left: 29%;
    margin-right: 30%;
    height: 40px;
    background-color: #e38b00;
    text-align: center;
    border: none;
    width: 90px;
    border-radius: 12px;
    box-shadow: 1px 2px 2px 2px #ccc;

  }
  
  .c-password div{
    margin-right: 10%;
    text-align: center;
  }
  
  .landing{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    
  }
  
  .landing-image {
    width: 70vh; 
    height: 70vh;
    background-repeat: no-repeat;
    background-size:contain; 
    background-position: center;
    margin-left: 15em;
    margin-top: 8em;
  }
  
  .landing .email-signup-button{
    background-color: #C97C02;
  }
  
  .landing .signin-button{
    margin-left: 7%;
    background-color: #C97C02;
    color: white;
    /* box-shadow: none; */
    border: none;
  }
  
  .content {
    background-color: white;
    text-align: center;
    margin-top: 2.5em;
    color: black;
    width: 80vh;
    margin-right: 10em;
    /* border: 1px solid #f3b34c; */
    padding: 1em;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #ccc;
  }
  
  .content h1{
    color: #D01300;
    
  }
  
  .content h3{
    font-style: italic;
    margin-bottom: 2em;
    color: #e9a233;
  }
  
  .content h6{
    color: #e9a233;
    font-weight: bold;
  }

  .content h4{
    color: #C97C02;
  }
  
  .login{
    margin-top: 6%;
  }
  
  .login form{
    display: flex;
    flex-direction: column;
    margin-left: 27%;
    margin-right: 27%;
    padding: 2%;
    gap:30px;
    background-color: white;
    border: 1px solid #E38B00;
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 15px;
  }
  
  .login form input{
    margin-left: 35%;
    margin-right: 15%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: block;
    font-size: medium;
    padding: 2px;
    text-align: start;
    text-align: center;
    margin-left: 15%;
  }
  
  .login form .signinlogin-button, .googlelogin-signup-button{
    margin-left: 15%;
    margin-right: 15%;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 2px 2px #ccc;
    transition: background-color 0.3s ease;
  }
  
  .signinlogin-button{
    background-color: #E38B00;
    margin-bottom: 10px;
    margin-right: 15%;
  }
  
  .signinlogin-button:hover,
  .googlelogin-signup-button:hover {
    background-color: #C97C02;
  }
  
  .signin-button{
    margin-bottom: 10px;
    color: #E38B00;
    font-weight: bold;
    margin-left: 15%;
    margin-right: 35%;
    width: 390px;
    border: 1px solid #E38B00;
    box-shadow: 2px 2px 2px 2px #ccc;
    transition: background-color 0.3s ease;
  }
  
  .signin-button:hover {
    background-color: #C97C02;
  }
  
  
  .googlelogin-signup-button{
    background-color: #db4437;
    margin-bottom: 10px;
  
  }
  
  
  .login form .label {
    display: block;
    font-size: medium;
    font-weight: bold;
    padding: 2px;
    text-align: start;
    margin-left: 15%;
  }
  
  .login form .label-1{
    display: block;
    font-size: medium;
    font-weight: bold;
    color: grey;
    margin-left: 50%;
  
  }
  
  .login form h1{
    color:#E38B00;
    margin-left: 20%;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .popup-content h2 {
    margin-top: 0;
  }
  
  .popup-content pre {
    white-space: pre-wrap;
  }
  
  .popup-content button {
    margin-top: 10px;
  }
  
  .popup-content p {
    white-space: pre-wrap;
  }

  .signin-button,
.email-signup-button,
.google-signup-button {
  margin-top: 10px;
  height: 38px;
  width: 85%;
  border-radius: 15px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: medium;
  background-color: #1e90ff;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.google-signup-button {
  background-color: #db4437;
} 

.signin-button{
  background-color: white;
  color: rgba(232,61,149,255);
  border: 1px solid #ccc;
}

.signin-button:hover,
.email-signup-button:hover,
.google-signup-button:hover {
  background-color: #E38B00;
}


@media (max-width: 768px) {
  .navigation {
    margin-left: 2em;
    margin-right: 2em;
    padding: 2em;
  }

  .step-number {
    gap: 10px;
  }

  .firstname,
  .lastname,
  .username,
  .userage,
  .useremail,
  .password,
  .c-password {
    margin-left: 35%;
    margin-right: 5%;
  }

  
  .firstname div,
  .lastname div,
  .username div,
  .userage div,
  .useremail div,
  .password div,
  .c-password div{
    margin-left: 23%;
    margin-right: 5%;
  }

  .landing {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
  }

  .landing-image {
    width: 50vh;
    height: 50vh;
    margin-left: 0;
    margin-top: 3em;
  }

  .content {
    margin-top: 1.5em;
    width: 90%;
    margin-right: 0;
  }

  .login form {
    margin-left: 5%;
    margin-right: 5%;
  }
}
