/* Common styles for both light and dark mode */
.homepage {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  background-color: #f4e4ec;
  color: #000000;
}

/* Dark mode styles */
.homepage-dark-mode {
  background-color: #000000;
  color: white;
}

.middle-container {
  display: flex;
  flex-direction: column;
  width: 56%;
  padding-left: 1.5em;
  height: 90vh;
  background-color: #f4e4ec;
  box-shadow: 4px 4px 4px 4px solid #ccc;
}

.header {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  align-items: flex-start;
  position: sticky;
  top: 0;
  width: 95.2%;
  margin-left: 0.82em;
  z-index: 1;
  height: 9vh;
  margin-top: 0em;
  box-shadow: 4px 4px 4px 4px solid #ccc;
  margin-left: 1px solid #ccc;
  color: white;
}

.header h1 {
  margin-top: 0.6em;
  margin-bottom: 0.2em;
  font-size: large;
  color: black;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s;
}

/* Style for the active header */
.header h1.active {
  font-weight: bold;
  border-bottom-color: #e83d95;
}

.posts {
  background-color: transparent;
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
  z-index: 0;
  scroll-margin-left: -3em;
  scrollbar-width: thin;
  scrollbar-color: #f5f5f5 transparent;
}

.posts::-webkit-scrollbar {
  width: 5px;
}

.posts::-webkit-scrollbar-thumb {
  background-color: #f5add3;
  cursor: pointer;
  border-radius: 5px;
}

.posts::-webkit-scrollbar-track {
  background-color: transparent;
}

.follow-suggestions::-webkit-scrollbar {
  outline: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  outline: none;
  background-color: rgb(0, 0, 0, 0.09);
}

.right-side-bar {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-left: -0.2em;
  background-color: #f4e4ec;
}

.follow-suggestions {
  background-color: white;
  border-radius: 20px;
  position: sticky;
  z-index: 1;
  overflow-y: auto;
  margin-left: 2.2em;
  margin-right: 0.08em;
  /* padding: 0.3em; */
  height: 68vh;
  margin-top: .1em;
}

.suggestions-header {
  font-size: x-large;
  /* margin-bottom: 5px; */
  position: sticky;
  padding-top: 10px;
  color: black;
  text-align: center;
  z-index: 2;
  /* margin-top: -.3em; */
  margin-left: 1.6em;
}

.follow {
  /* margin-top: .2em; */
  align-items: center;
  justify-content: center;
  padding-right: 2em;
  position: relative;
  border-radius: 10px;
  margin-left: -1em;
  flex-grow: 1;
  box-shadow: 4px 4px 4px 4px solid #ccc;
}

.footer {
  padding: 2px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  color: #888;
  font-size: 14px;
  width: 23em;
  margin-bottom: 10px;
  margin-top: -0.2em;
  margin-left: 2.3em;
}

.footer p {
  margin: 5px;
}

/* Social media icons styles */
.footer a {
  margin-right: 10px;
  color: #888;
  font-size: 20px;
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
  .middle-container {
    width: 100%;
    /* padding-left: 0.5em; */
    height: auto;
    left: -12em;
    position: absolute;
    overflow-y: scroll;
    
  }
  

  .header {
    width: 100%;
    margin-left: 0;
  }

  .right-side-bar {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .follow-suggestions {
    height: auto;
    margin-top: 200vh;
    display: none;
  }

  .suggestions-header {
    margin-left: 0.5em;
    margin-top: 190vh;
  }

  .footer {
    width: 100%;
    margin-left: 0;
  }
}

/* Tablets and small laptops */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .middle-container {
    width: 70%;
    padding-left: 1em;
  }

  .header {
    width: 70%;
    margin-left: 0;
  }

  .right-side-bar {
    width: 100%;
    margin-left: 14em;
    margin-right: 0;
  }

  .follow-suggestions {
    height: 60vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0.5em;
  }

  .suggestions-header {
    margin-left: 0;
    margin-top: 0.5em;
  }

  .footer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* Mobile devices */
@media only screen and (max-width: 767px) {
  .middle-container {
    width: 100%;
    /* padding-left: 0.5em; */
    height: auto;
    left: -12em;
    position: absolute;
    overflow-y: scroll;
    
  }
  

  .header {
    width: 100%;
    margin-left: 0;
  }

  .right-side-bar {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .follow-suggestions {
    height: auto;
    margin-top: 200vh;
  }

  .suggestions-header {
    margin-left: 0.5em;
    margin-top: 190vh;
  }


}

/* Tablets and small laptops */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .middle-container {
    width: 70%;
    padding-left: 1em;
  }

  .header {
    width: 70%;
    margin-left: 0;
  }

  .right-side-bar {
    width: 100%;
    margin-left: 14em;
    margin-right: 0;
  }

  .follow-suggestions {
    height: 60vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0.5em;
  }

  .suggestions-header {
    margin-left: 0;
    margin-top: 0.5em;
  }

  .footer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}


