
/* Add styles for tabs */
.tabs {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.tab {
  cursor: pointer;
  font-weight: bold;
}

.tab.active {
  border-bottom: 2px solid #E83D95;
}

.notify{
  background-color: #F4E4EC;
}

.notifications-page {
  margin-left: 25%;
  
}

.mainNotifyContainer {
  margin-left: 30%;
  background-color: #F4E4EC;
}

  .dark-mode-notification{
    background-color: black;
    color: white;
    width: 100%;
  }

  .mainNotifyContainer h1{
    margin-left: 22%;
    position: sticky;
    z-index: 1;
    flex-grow: 1;
    top: 0;
    overflow-y: auto;
  }
  
  .notifications-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .no-notifications {
    margin-top: 20px;
    color: #888;
  }
  
  .notifications-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100vh - 200px);
  }
  
  .notification-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .notification-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .notification-message {
    font-size: 14px;
    color: #888;
  }
  
  
.notifications-list::-webkit-scrollbar {
  outline: none;
  background-color: transparent;
   
 }