/* posts.css */

.posts {
  position: relative;
  box-shadow: 2px 2px 2px 2px solid #ccc;
  padding: 1em;
  border-radius: 10px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0; 
}


.posts:nth-child(even) {
  background-color: white; 
}

.posts:nth-child(odd) {
  background-color: white;
}

.post-naming {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.poster-image {
  border-radius: 50%;
  width: 4em;
  height: 4em;
  object-fit: cover;
  object-position: center;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: bold;
  margin-left: 1em;
}

.post-content {
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post-metadata {
  font-size: 14px;
  color: #888;
}

.post-date {
  margin-right: 10px;
}

.post-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  object-fit: cover;
  object-position: center;
}


.options {
  display: flex;
  gap: 50px;
}

.posts-icons {
  display: flex;
  gap: 10px;
}

.like-icon,
.comments-icon {
  font-size: medium;
  color: #e83d95;
}

.like-button,
.comments-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #e83d95;
  margin-bottom: 15px;
  cursor: pointer;
  border: none;
}

.like-button:focus,
.comments-icon:focus {
  outline: none;
}

.hover-icons {
  display: flex;
  gap: 8px;
  cursor: pointer;
  position: relative;
}

.hover-icons:before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border-radius: 20px;
  background-color: rgba(227, 139, 0, 0.1);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.hover-icons:hover:before {
  opacity: 1;
}

.hover-icons:after {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border-radius: 20px;
  border: 1px solid #e83d95;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.hover-icons:hover:after {
  opacity: 1;
}

/* CSS for the pop-up menu */
.popup {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 8px;
  z-index: 1;
  width: 3%;
}

.popup button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #333;
  font-size: 14px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.popup button:hover {
  background-color: #f5f5f5;
}

.popup button:last-child {
  border-top: 1px solid #ccc;
}

/* Hide the pop-up initially */
.popup:not(.show) {
  display: none;
}

.option{
  cursor: pointer;
}
.option.selected {
  background-color: #f5f5f5;
  border-radius: 4px;
}
